<div>
<h4>Trending Posts</h4>
{{#each postSide}}
<div class="sidebarLinkBackground">
<a class="sidebarLinks" href="/channels/{{channel._id}}/{{_id}}">{{title}}</a><br>
</div>


{{/each}}

<h4>New encounters</h4>
{{#each eventsSide}}
<div class="sidebarLinkBackground">
<a class="sidebarLinks" href="/encounter/single/{{_id}}">{{eventName}}</a><br>
</div>
{{/each}}
</div>