<a href="/encounter/create">Create encounter</a>

<ul class="list-group-flush">

{{#each encounters}}
<a href="/encounter/single/{{ _id }}">
<div style="margin-bottom: 2em;">

<li class="list-group-item"> eventName: {{eventName}}</li>
<li class="list-group-item">host: {{host.name}}</li>
<li class="list-group-item">location: latitude: {{location.coordinates.[1]}}, longitude: {{location.coordinates.[0]}}</li>
<li class="list-group-item">date: {{date}}</li>
<li class="list-group-item">numberOfPlayer: {{numberOfPlayer}}</li>
<li class="list-group-item">waitingList: 
  <br>
  {{#each waitingList}}
  {{ name }} <br>
  {{/each}}</li>
<li class="list-group-item">game: {{gameList}}</li>

</div>
</a>
{{/each}}
</ul>
