
<ul class="list-group-flush">
  <li class="list-group-item">eventName: {{eventName}} </li>
  <li class="list-group-item">host: {{host.name}} </li>
  <li class="list-group-item">location: latitude: {{location.coordinates.[1]}}, longitude: {{location.coordinates.[0]}} </li>
  <li class="list-group-item">date: {{date}} </li>
  <li class="list-group-item">numberOfPlayer: {{numberOfPlayer}} </li>
  <li class="list-group-item">Players List: 
    <br>
    {{#each waitingList}}
    {{ name }} <br>
    {{/each}}</li>  
  <li class="list-group-item">Waiting List: 
    <br>
    {{#each players}}
    {{ name }} <br>
    {{/each}}</li>  
  <a href="/encounter/single/{{ _id }}/join" class="btn btn-outline-success"> Join Event </a></li>
  <li class="list-group-item">game: {{gameList}} </li>
  <li class="list-group-item"></li><br></li>
  <li class="list-group-item"><a href="/encounter/single/{{ _id }}/edit" class="btn btn-outline-success"> edit event </a></li>
  <li class="list-group-item"><form action="/encounter/single/{{ _id }}/delete" method="POST"><button class="btn btn-outline-danger"> delete event </button></form></li>
</ul>


<section class='formEdit'>
  <h4 class='text-secondary'>Reviews</h2>
  <div class="card">
    <div class="card-body">
      {{#each comments}}
            <div>
              <p class="card-text">{{this.comment}}</p>
              <h6 class="card-subtitle mb-2 text-muted">{{this.player}}</h6>
              <form action="/encounter/single/{{ id }}/deleteComment" method="POST"><button class="btn btn-outline-danger"> delete comment </button></form>
            </div>
      {{/each}}
    </div>
  </div>


  <form action="/encounter/single/addComment?event_id={{ _id }}" method="post">
  <h5 class="form-text text-muted"> Add a Comment {{user.name}}</h5>
   <div class="form-group">
      <label for="comment" class='text-secondary'>Comment:</label>
      <textarea type="text" name="comment" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-outline-primary card-link">ADD</button>
  </form>
</section>

