<h1>Manage Your Account</h1>
<section>
<div class="map" style="margin: 2.5%;">
<h4 class="commentForm">Please fill all the items bellow:</h4>

<form action="/authentication/edit" method="POST" enctype="multipart/form-data">
  <div class="commentBox" style="margin-bottom: 2.5%;">
    <div class="signUpName">
      <label for="input-name" class="aAuthor">Edit name</label>
      <input type="text" id="input-name" name="name" placeholder="Your Name" value={{user.name}} required="true" class="commentArea" style="margin-bottom: 1.5%;"/>
      <label for="input-email" class="aAuthor">Edit e-mail</label>
      <input type="email" id="input-email" name="email" placeholder="Your Email" value={{user.email}} required="true" class="commentArea" style="margin-bottom: 1.5%;"/>
      <label for="input-password" class="aAuthor">Edit password</label>
      <input type="password" name="password" id="input-password" placeholder="Confirm your Password" required="true" class="commentArea" style="margin-bottom: 1.5%;"/>
    </div>
    <div class="inputPicture">
      <label for="input-picture" class="aAuthor">Edit profile picture:<br></label>
      <input type="file" accept="image/*" id="input-picture" value={{user.picture}} name="picture" required="true" class="asideBtn" style="font-size: 0.8em;"/>
    </div>
  </div>

  <div class="gameYouPlay commentBox" style="margin-bottom: 2.5%;">
    <h4>Game You Play</h4>
    <div class="input-group mb-3">
      {{#each gameList as |item|}}
      <div style="margin: 1.5%;">
        <div>
        <input name="{{item}}" type="checkbox" id="inlineCheckbox">
        <label class="form-check-label" for="inlineCheckbox" >{{item}}</label>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="map commentBox" style="margin: 2.5% 0%;">
    <h4>Place Your Location</h4>
    <div style="margin: 0% auto;">
    {{>map}}
    </div>
  </div>

  <div class='commentBox'>
    <label class="aAuthor"  for="inputDescription">About you:</label>
    <textarea class="commentArea" name="description" id="inputDescription" cols="30" rows="10"
      required="true">{{user.description}} </textarea>
  </div>
  <div class="commentBox">
  <button style="font-size: 1em;" class="asideBtn">Confirm</button>
  </div>
</form>

</section>