
{{#if user}}
<h4> Location of All events </H4>
<div id="sample-map"></div>

{{else}}
<div class="bodyIndex">
  <div class="imageSignUp"><img src="/images/dy play one color.png" alt="logo"></div>
  <h2>Welcome to DYPlay</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In natus consequuntur similique sit debitis perferendis
    quos repellendus doloribus aliquid. Quos dignissimos eveniet rerum officia aut perspiciatis minima magnam veritatis
    eius
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. In natus consequuntur similique sit debitis perferendis
    quos
    repellendus doloribus aliquid. Quos dignissimos eveniet rerum officia aut perspiciatis minima magnam veritatis eius!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. In natus consequuntur similique sit debitis perferendis
    quos
    repellendus doloribus aliquid. Quos dignissimos eveniet rerum officia aut perspiciatis minima magnam veritatis eius!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. In natus consequuntur similique sit debitis perferendis
    quos
    repellendus doloribus aliquid. Quos dignissimos eveniet rerum officia aut perspiciatis minima magnam veritatis eius!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. In natus consequuntur similique sit debitis perferendis
    quos
    repellendus doloribus aliquid. Quos dignissimos eveniet rerum officia aut perspiciatis minima magnam veritatis
    eius!!
  </p>

</div>
{{/if}}

<aside>
{{>sidebar}}
</aside>

<script>
    const $sampleMap = document.getElementById('sample-map');
    const list = [
    {{#each events}}
      {
        lat: {{ location.coordinates.[0] }},
        lng: {{ location.coordinates.[1] }}
      },
    {{/each}}
  ];
    function initMap() {
    const map = new window.google.maps.Map($sampleMap, {
        center: {
            lat: {{ user.location.coordinates.[0] }},
            lng: {{ user.location.coordinates.[1] }}
          },
        zoom: 12
      });
      

    {{#each events}}
    for (let locationEvent of list) {
      const marker = new window.google.maps.Marker({ position: {
        lat: {{ location.coordinates.[0] }},
        lng: {{ location.coordinates.[1] }}
      }, map, title: '{{eventName}}, at {{date}} with {{numberOfPlayer}} players' })
      marker.addListener('click', () => {
        window.location = `/encounter/single/{{_id}}`;
      })
    }
    {{/each}}
    }
  </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrJ1f_9MB0iFA2zFsHIbIK8sGWU91aQr8&callback=initMap" async defer></script>