<h1>Welcome {{user.name}}!</h1>
<img src="{{user.picture}}" alt="profile picture">
<h2>Your favorite games:</h2>
<p>{{user.games}}.</p>
<h3>About you:</h3>
<p>{{user.description}}</p>
<h3>Players near you:</h3>
<div id="sample-map"></div>
<form action="/authentication/deleteAccount" method="POST"><button>Delete Account</button></form>
<script>
  const $sampleMap = document.getElementById('sample-map');

 const list = [
{{#each data}}
{
 position: {
 lat: {{location.coordinates.[0]}},
  lng: {{location.coordinates.[1]}}
 }
},
 {{/each}}
 ]


  function initMap() {
    const map = new window.google.maps.Map($sampleMap, {
      center: {
        lat: {{user.location.coordinates.[0]}},
        lng: {{user.location.coordinates.[1]}}
          },
  zoom: 12
      });
      
    {{#each data}}
    for (let userSingle of list) {
      const marker =  new window.google.maps.Marker({ position: {
        lat: {{ location.coordinates.[0] }},
        lng: {{ location.coordinates.[1] }}
      }, 
      map, 
      title: '{{name}}, Jogos preferidos: {{games}}.'
      })
    marker.addListener('click', () => {
        window.location = `message/{{_id}}`;
      })
      
    }
    {{/each}}

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{process.env.GOOGLE_MAPS_API_KEY}}&callback=initMap" async
  defer></script>