<section class="sectionComments">

  <div class="content">
    <h1>{{userdata.name}}'s Profile</h1>

    <div class="map sectionComments">
      <img src="{{userdata.picture}}" alt="profile picture" style="max-width: 40%; margin: 2.5% auto">
    </div>

    <div class="map sectionComments">
      <div>
        <h3>Favorite games:</h3>
        <p>{{userdata.games}}.</p>
        <h3>About you:</h3>
        <p>{{userdata.description}}</p>
      </div>
    </div>

    <div class="map">
      <h3>{{userdata.name}} location:</h3>
      <div id="sample-map"></div>
    </div>

  </div>

  <aside class="asideBar">
    {{>sidebar}}
  </aside>
</section>

<script>
  const $sampleMap = document.getElementById('sample-map');

  function initMap() {
    const map = new window.google.maps.Map($sampleMap, {
      center: {
        lat: {{userdata.location.coordinates.[0]}},
        lng: {{userdata.location.coordinates.[1]}}
          },
  zoom: 12
      });
      
      const marker =  new window.google.maps.Marker({ position: {
        lat: {{userdata.location.coordinates.[0]}},
        lng: {{userdata.location.coordinates.[1]}}
      }, 
      map, 
      title: '{{userdata.name}}, Favorite games: {{userdata.games}}.'
      })
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{process.env.GOOGLE_MAPS_API_KEY}}&callback=initMap" async
  defer></script>