<h1>Welcome {{user.name}}!</h1>

<section class="sectionComments">

  <div class="content">

    <div class="map sectionComments" style="margin-bottom: 5%;  justify-content: space-around;">
      <img src="{{user.picture}}" alt="profile picture" style="max-width: 40%; margin-right: 2%">
      
      <div>
        <h3>Favorite games:</h3>
        <p>{{user.games}}.</p>
        <h3>About you:</h3>
        <p>{{user.description}}</p>
      </div>
    </div>

    <div class="map">
      <h3>Players near you:</h3>
      <div id="sample-map"></div>
    </div>
  
  </div>

<aside class="asideBar">
  <form action="/authentication/edit" method="GET"><button class="asideBtn">Manage Your Account</button></form>
  {{> sidebar}}
  <form action="/authentication/deleteAccount" method="POST"><button class="deleteBtn">Delete Account</button></form>
</aside>

</section>

<script>
  const $sampleMap = document.getElementById('sample-map');

 const list = [
{{#each data}}
{
 position: {
 lat: {{location.coordinates.[0]}},
  lng: {{location.coordinates.[1]}}
 }
},
 {{/each}}
 ]


  function initMap() {
    const map = new window.google.maps.Map($sampleMap, {
      center: {
        lat: {{user.location.coordinates.[0]}},
        lng: {{user.location.coordinates.[1]}}
          },
  zoom: 12
      });
      
    {{#each data}}
    for (let userSingle of list) {
      const marker =  new window.google.maps.Marker({ position: {
        lat: {{location.coordinates.[0]}},
        lng: {{location.coordinates.[1]}}
      }, 
      map, 
      title: '{{name}}, Favorite games: {{games}}.'
      })
    marker.addListener('click', () => {
        window.location = `message/{{_id}}`;
      })
      
    }
    {{/each}}

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{process.env.GOOGLE_MAPS_API_KEY}}&callback=initMap" async
  defer></script>