<h1>User Profile</h1>
<p>Olá! Esses são os jogadores próximos a você:</p>
<div id="sample-map"></div>
{{!-- for (let userPosition of list) {
      new window.google.maps.Marker({ position: userPosition.position, map });
    } --}}
    

<script>
  const $sampleMap = document.getElementById('sample-map');

 const list = [
{{#each data}}
{
 position: {
 lat: {{location.coordinates.[0]}},
  lng: {{location.coordinates.[1]}}
 }
},
 {{/each}}
 ]


  function initMap() {
    const map = new window.google.maps.Map($sampleMap, {
      center: {
        lat: {{user.location.coordinates.[0]}},
        lng: {{user.location.coordinates.[1]}}
          },
  zoom: 12
      });
      
    {{#each data}}
    for (let userSingle of list) {
      new window.google.maps.Marker({ position: {
        lat: {{ location.coordinates.[0] }},
        lng: {{ location.coordinates.[1] }}
      }, 
      map, 
      title: '{{name}}' 
      })
    }
    {{/each}}
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrJ1f_9MB0iFA2zFsHIbIK8sGWU91aQr8&callback=initMap" async defer>
</script>