<h1>
  {{channel.name}}
</h1>

<section class="sectionComments">
  <div class="channel background">

<aside class= "channelDesc">
{{#with channel}}
<aside style="background-image:url({{picture}}); height: 300px; background-repeat: no-repeat; background-size: cover; justify-content: center; ">
<div class="inImage">
<h4>{{description}}</h4>
</aside>
{{/with}}
<div>
{{#if sameUser}}
<a href="/channels/{{channel._id}}/delete"><button class="deleteBtn">Delete Channel</button></a>
<a href="/channels/{{channel._id}}/edit"><Button class="editBtn">Edit channel</Button></a>
{{/if}}
</div>
</aside>

<h1 style="color: white; font-size: 3em">Posts</h1>


{{#each posts}}

<a style="text-decoration: none;" href="/channels/{{channel._id}}/{{_id}}"><aside class="channelProp">{{title}}</aside></a>

{{/each}}

</div>
<div>
  <aside class="asideBar">
<a href="/channels/{{channel._id}}/create_post"><button class="asideBtn">Create a new Post</button></a>
{{>sidebar}}
  </aside>
</div>
</section>