<h1>
  Channel single view
</h1>

{{#with channel}}
<a href="/channels/{{_id}}/delete"><button>DELETE Channel</button></a>
<a href="/channels/{{_id}}/edit"><Button>Edit channel</Button></a>
{{name}}
{{description}}
<img src="{{picture}}" alt="{{name}}">
{{/with}}


<h1> In here will come the posts from this Channel</h1>


{{#each posts}}
<a href="/channels/{{channel._id}}/{{_id}}">{{title}}</a>
{{/each}}
