<h1>
  Channel single view
</h1>

<section class="sectionComments">
  <div class="channel background">

<aside class= "channelDesc">
{{#with channel}}
<aside style="background-image:url({{picture}}); height: 500px; background-repeat: no-repeat; background-size: cover; ">
<div class="inImage">
<h2>{{name}}</h2><br>
<h4>{{description}}</h4>
</div>
</aside>

{{/with}}
{{#if sameUser}}
<a href="/channels/{{channel._id}}/delete"><button>DELETE Channel</button></a>
<a href="/channels/{{channel._id}}/edit"><Button>Edit channel</Button></a>
{{/if}}

</aside>

<h1> In here will come the posts from this Channel</h1>


{{#each posts}}
<aside class="channelProp">
<a href="/channels/{{channel._id}}/{{_id}}">{{title}}</a>
</aside>
{{/each}}

</div>
<div>
  <aside class="asideBar">
<a href="/channels/{{channel._id}}/create_post"><button class="asideBtn">Create a new Post</button></a>
{{>sidebar}}
  </aside>
</div>
</section>