<h1>
  Channel single view
</h1>
{{#if sameUser}}
<a href="/channels/{{_id}}/delete"><button>DELETE Channel</button></a>
<a href="/channels/{{_id}}/edit"><Button>Edit channel</Button></a>
{{/if}}

{{#with channel}}
{{name}}
{{description}}
{{#if picture}}
<img src="{{picture}}" alt="{{name}}">
{{/if}}
{{/with}}


<h1> In here will come the posts from this Channel</h1>


{{#each posts}}
<a href="/channels/{{channel._id}}/{{_id}}">{{title}}</a>
{{/each}}
<a href="/channels/{{channel._id}}/create_post"><button>Create a new Post</button></a>
