<h1>
  {{post.title}}
</h1>
<section class="sectionComments">

<div class="channel background">

<aside class="channelDesc">
{{#with post}}
<aside>
<div>
{{#if picture}}
<img src="{{picture}}" alt="post piture">
{{/if}}
<h5>Author: <a class="aAuthor" href="/profile/{{ author._id }}">{{ author.name }}</a></h5>
<h4>{{description}}</h4>

</aside>
{{/with}}
<div>
{{#if sameUser}}
<a href="/channels/{{post.channel._id}}/{{post._id}}/delete"><button class="deleteBtn">Delete post</button></a>
<a href="/channels/{{post.channel._id}}/{{post._id}}/edit"><button class="editBtn">Edit Post</button></a>
{{/if}}
</div>
</aside>
  <div>
  <h3>Comments</h3>
  
  {{#each comments}}
    <div class="commentBox">
    {{>comment}}
    </div>
    {{#if ../sameUser}}
    <a href="/channels/{{channel._id}}/{{post._id}}/{{_id}}/delete"><button class="deleteBtn">Delete comment</button></a>
  {{/if}}
    {{/each}}
  

  <h4 class="commentForm">Add a Comment:</h4>
  {{> commentform}}
  
  </div>
</div>

<div>
 <aside class="asideBar">
  {{>sidebar}}
</aside>
</div>
</section>