<h1>
  This is the single post view
</h1>
<section class="sectionComments">


<div class="channel">
{{#with post}}
<aside style="background-image:url({{picture}})">
{{title}}
{{description}}
{{#if picture}}
<img class="channelImg" src="{{picture}}" alt="{{title}}">
{{/if}}
</aside>
{{/with}}
{{#if sameUser}}
<a href="/channels/{{post.channel._id}}/{{post._id}}/delete"><button>DELETE POST</button></a>
<a href="/channels/{{post.channel._id}}/{{post._id}}/edit"><Button>Edit Post</Button></a>
{{/if}}
  <h4>Comments</h4>
  {{#each comments}}
    {{>comment}}
    {{#if ../sameUser}}
    <a href="/channels/{{channel._id}}/{{post._id}}/{{_id}}/delete"><button>DELETE COMMENT</button></a>
  {{/if}}
  {{/each}}
  <h4>Add a Comment</h4>
  {{> commentform}}
</div>

 <aside>
  {{>sidebar}}
</aside>
</section>